@import "./../../styles/scss/";

.container {
  width: calc(100vw - 20px);
  .mainContentcontainer {
    @include displayFlex($justify: space-between);
    .cardsContainer {
      @include displayFlex($wrap: wrap, $justify: flex-end);
      width: 100%;
    }
    .loadingSpinnerContainer {
      margin-top: 20px;
      @include displayFlex($justify: center);
    }

    .wrapperContainer {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 754px) {
  .container {
    .mainContentcontainer {
      .cardsContainer {
        justify-content: space-between;
        width: 100%;
      }
    }
  }
}

@media #{$BREAKPOINT-DESK} {
  .container {
    width: 1000px;
  }
}
