@import "./../../styles/scss/";

.container {
  // margin: 0 10px;
  width: calc(100vw - 20px);
  .mainContentcontainer {
    @include displayFlex($justify: space-between);
    .cardsContainer {
      @include displayFlex($wrap: wrap, $justify: flex-end);
    }
    .loadingSpinnerContainer {
      margin-top: 20px;
      @include displayFlex($justify: center);
    }

    .wrapperContainer {
      min-width: 70%;
    }
  }
}

@media only screen and (min-width: 754px) {
  .container {
    // width: 90vw;
    .mainContentcontainer {
      .cardsContainer {
        min-width: 70%;
        justify-content: flex-end;
      }
    }
  }
}

@media #{$BREAKPOINT-TABLET-LAND} {
  .container {
    .mainContentcontainer {
      .cardsContainer {
        justify-content: space-between;
      }
    }
  }
}

@media #{$BREAKPOINT-DESK} {
  .container {
    width: 1000px;
  }
}
