@import "./../../styles/scss/";

.container {
  margin: 0 10px;
  .mainContentcontainer {
    @include displayFlex($justify: space-between);
    .cardsContainer {
      @include displayFlex($wrap: wrap, $justify: flex-end);
    }
  }
}

@media only screen and (min-width: 754px) {
  .container {
    .mainContentcontainer {
      .cardsContainer {
        min-width: 70%;
        justify-content: space-between;
      }
    }
  }
}
