@import "./../../../styles/scss/index.scss";

.container {
  width: calc(100vw - 20px);

  .contentContainer {
    border-radius: 3px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    height: 45vw;
    max-height: 0px;

    overflow: hidden;
    transition: max-height 500ms ease-in-out;

    position: relative;
  }

  .showContent {
    max-height: 45vw;
  }
}

@media #{$BREAKPOINT-MOBILE-LAND} {
  .container {
    .contentContainer {
      height: 38vw;
    }
  }
}

@media #{$BREAKPOINT-TABLET} {
  .container {
    .contentContainer {
      height: 31vw;
    }
  }
}

@media #{$BREAKPOINT-TABLET-LAND} {
  .container {
    width: 42vw;
    margin-left: 2vw;

    .contentContainer {
      height: 16vw;
    }

    .showContent {
      max-height: 16vw;
    }
  }
}

@media #{$BREAKPOINT-DESK} {
  .container {
    width: 35vw;
    margin-left: 0;

    .contentContainer {
      height: 14vw;
    }
  }
}
