@import "./../../styles/scss/index.scss";

.IFcontainer {
  @include displayFlex($justify: space-between);

  height: 15vw;
  width: 100%;

  .IFinputClassName {
    width: 90vw;
  }

  .IFInputLogoContainer {
    @include displayFlex($justify: center);

    width: 20%;
    background-color: $PURPLE;

    .IFInputLogo {
      width: 70%;
    }
  }
}

@media #{$BREAKPOINT-TABLET} {
  .IFcontainer {
    @include displayFlex($justify: center);
    height: 10vw;

    .IFinputClassName {
      width: 80vw;
    }

    .IFInputLogoContainer {
      .IFInputLogo {
        width: 50%;
      }
    }
  }
}

@media #{$BREAKPOINT-TABLET-LAND} {
  .IFcontainer {
    margin: 0.5vw 0;
    width: 100%;

    height: 4.5vw;

    .IFinputClassName {
      width: 80%;
      font-size: 1.3vw;
    }

    .IFInputLogoContainer {
      .IFInputLogo {
        width: 40%;
      }
    }
  }
}
