@import "./../../styles/scss/index.scss";

.container {
  margin: 4vw 0;
  box-shadow: 0 0 2px rgb(194, 179, 179);
  background-color: $WHITE;
  width: 90vw;

  .loginForm {
    @include displayFlex($direction: column, $align: center);

    label {
      font-size: 5vw;
      margin: 2vw 0;
    }

    input[type="submit"] {
      @include defaultButton($radius: 3px);

      width: 28vw;
      height: 11vw;

      font-weight: 600;
      font-size: 6vw;

      margin: 3vw 0;
      cursor: pointer;

      &:hover {
        background-color: rgb(209, 104, 6);
      }
    }
  }
}

@media #{$BREAKPOINT-TABLET} {
  .container {
    width: 70vw;
    .loginForm {
      label {
        font-size: 3vw;
        margin: 1vw 0;
        input {
          width: 60vw;
          height: 5vw;
        }
      }

      input[type="submit"] {
        height: 5vw;
        font-size: 3vw;
        width: 15vw;
      }
    }
  }
}

@media #{$BREAKPOINT-TABLET-LAND} {
  .container {
    width: 40vw;

    .loginForm {
      label:first-of-type {
        margin-top: 2vw;
      }

      label {
        font-size: 2vw;
        margin: 0.5vw 0;

        input {
          width: 30vw;
          height: 3vw;
        }
      }
      input[type="submit"] {
        width: 10vw;
        height: 4vw;

        font-size: 2vw;
      }

      .loginErrorMessage {
        color: rgb(231, 81, 81);
      }
    }
  }
}
