@import "./../../styles/scss/index.scss";

.container {
  margin: 4vw 0;
  box-shadow: 0 0 2px rgb(194, 179, 179);
  background-color: $WHITE;
  width: 92vw;

  .loginForm {
    @include displayFlex($direction: column, $align: center, $justify: center);
    padding: 4vw 0;
  }
}

@media #{$BREAKPOINT-TABLET} {
  .container {
    width: 90vw;
  }
}

@media #{$BREAKPOINT-TABLET-LAND} {
  .container {
    width: 40vw;

    .loginForm {
      padding: 2.5vw 0;
    }
  }
}
