@import "./../../styles/scss/index.scss";
.container {
  @include displayFlex($direction: column, $justify: space-between);
  height: 45vw;
  margin: 20px 0;

  font-weight: bold;
  color: $WHITE;
  border-radius: 6px;
  box-shadow: 0 0 5px rgb(155, 149, 149);

  .descriptionContainer {
    @include displayFlex($direction: column, $align: center, $justify: center);
    width: 55%;
    height: 100%;
    h2 {
      margin-top: 10px;
      font-size: 2.62rem;
    }

    p {
      font-size: 1rem;
    }
  }
  .footerContainer {
    @include displayFlex($justify: center, $align: center);
    min-height: 30%;
    p {
      font-size: 1rem;
    }
  }
}
@media #{$BREAKPOINT-MOBILE-LAND} {
  .container {
    height: 40vw;

    .descriptionContainer {
      h2 {
        font-size: 3rem;
      }
      p {
        font-size: 1.1rem;
      }
    }
    .footerContainer {
      p {
        font-size: 1.1rem;
      }
    }
  }
}

@media #{$BREAKPOINT-TABLET} {
  .container {
    height: 37vw;

    .descriptionContainer {
      h2 {
        font-size: 3.4rem;
      }
      p {
        font-size: 1.5rem;
      }
    }
    .footerContainer {
      p {
        font-size: 1.5rem;
      }
    }
  }
}

@media #{$BREAKPOINT-TABLET-LAND} {
  .container {
    width: 30%;
    height: 15vw;
    margin: 10px 0;
    .descriptionContainer {
      h2 {
        margin-top: 1px;
        font-size: 2.2rem;
      }
      p {
        font-size: 0.9rem;
      }
    }
    .footerContainer {
      p {
        font-size: 0.8rem;
      }
    }
  }
}

@media #{$BREAKPOINT-DESK} {
  .container {
    width: 32%;
    height: 161px;
    .descriptionContainer {
      h2 {
        margin-top: 1px;
        font-size: 2.4rem;
      }
      p {
        font-size: 0.9rem;
      }
    }
    .footerContainer {
      min-height: 25%;
      p {
        font-size: 0.9rem;
      }
    }
  }
}
