@import "./../../../styles/scss/index.scss";

.comboMenu {
  position: absolute;
  top: 20vw;

  width: 100vw;

  pointer-events: none;
  opacity: 1;

  transform: translateX(-100%);
  transition: all 300ms ease-in-out;

  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #e7e7e7;

  background-color: $ORANGE;

  ul {
    list-style-type: none;

    li {
      margin: 4.5vw 0;
      text-align: center;

      // &.extensibleDropDown {
      //   position: relative;

      //   button {
      //     background: none;
      //     border: none;
      //     cursor: pointer;

      //     .arrowIcon::before {
      //       content: url("./../../../resources/imgs/utilityIcons/semi-arraw-down.svg");
      //       display: inline-block;
      //       transition: all 150ms ease-in-out;
      //       margin-left: 1vw;
      //       transform: scale(1.1);
      //     }

      //     .activeExtended::before {
      //       transform: rotate(180deg) scale(1.1);
      //     }
      //   }

      //   .extendedLoggedInMenu {
      //     position: absolute;
      //     top: 15px;

      //     margin: 5vw 0;
      //     width: 100vw;

      //     border-width: 1px 0 0 0;
      //     border-style: solid;
      //     border-color: $WHITE;
      //     background-color: $ORANGE;

      //     transition: all 100ms ease-in-out;
      //     pointer-events: none;
      //     transform: translateY(-20%);
      //     opacity: 0;
      //   }

      //   .extendedLoggedInMenuActive {
      //     opacity: 1;
      //     transform: translateY(0);
      //     pointer-events: all;
      //   }
      // }
    }
  }
}

.comboMenuActive {
  transform: translateX(0);
  pointer-events: all;
  z-index: 10;
}

@media #{$BREAKPOINT-TABLET} {
  .comboMenu {
    top: 14.2vw;
  }
}

@media #{$BREAKPOINT-TABLET-LAND} {
  .comboMenu {
    position: relative;
    top: initial;
    transform: none;

    width: initial;
    background: none;
    border: none;
    ul {
      @include displayFlex($justify: space-between);
      li {
        margin: 0;
        margin-left: 1vw;

        // &.extensibleDropDown {
        //   button {
        //     .arrowIcon::before {
        //       transform: scale(1);
        //     }
        //     .activeExtended::before {
        //       transform: scale(1) rotate(180deg);
        //     }
        //   }
        //   .extendedLoggedInMenu {
        //     position: absolute;
        //     top: 3.7vw;
        //     right: 0vw;

        //     padding: 10px 0;
        //     width: 30vw;
        //     margin: 0;
        //     pointer-events: none;

        //     border: 1px solid rgba(54, 51, 51, 0.1);
        //     box-shadow: 0 0 2px #262626;
        //     ul {
        //       @include displayFlex($direction: column);

        //       li {
        //         margin: 0.5vw 0;

        //         .navItem {
        //           a {
        //             pointer-events: none;
        //           }
        //         }
        //       }
        //     }
        //   }

        //   .extendedLoggedInMenuActive {
        //     ul {
        //       li {
        //         .navItem {
        //           a {
        //             pointer-events: all;
        //           }
        //         }
        //       }
        //     }
        //   }
        // }
      }
    }
  }
}
