.primary-orange {
  filter: invert(63%) sepia(43%) saturate(6322%) hue-rotate(359deg)
    brightness(101%) contrast(107%);
}

.primary-purple {
  filter: invert(10%) sepia(37%) saturate(5585%) hue-rotate(293deg)
    brightness(101%) contrast(106%);
}

.primary-black {
  filter: invert(14%) sepia(5%) saturate(15%) hue-rotate(7deg) brightness(96%)
    contrast(97%);
}
