@import "./../../../../styles/scss/index.scss";

.headerContainer {
  @include displayFlex($align: center, $justify: space-between);

  height: 12vw;
  border-radius: 3px;
  background-color: $ORANGE;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);

  cursor: pointer;

  &:hover {
    background-color: rgb(236, 121, 13);
  }
}

@media #{$BREAKPOINT-MOBILE-LAND} {
  .headerContainer {
    height: 8.5vw;
  }
}

@media #{$BREAKPOINT-TABLET} {
  .headerContainer {
    height: 5.5vw;
  }
}

@media #{$BREAKPOINT-TABLET-LAND} {
  .headerContainer {
    height: 4vw;
  }
}

@media #{$BREAKPOINT-DESK} {
  .headerContainer {
    height: 3.2vw;
  }
}
