@import "./../../../../styles/scss/index.scss";

.headerContainer {
  @include displayFlex($align: center, $justify: space-between);

  height: 12vw;
  border-radius: 3px;
  background-color: $ORANGE;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);

  cursor: pointer;

  &:hover {
    background-color: rgb(236, 121, 13);
  }

  .eventControllerContainer {
    position: relative;
    margin-right: 3vw;

    cursor: pointer;

    &,
    .openerLine {
      width: 6.9vw;
      height: 2vw;
    }

    .openerLine {
      position: absolute;

      border-radius: 1px;
      background-color: $PURPLE;
      transition: all 300ms ease-in-out;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);

      .openerLine:nth-of-type(2) {
        transform: rotate(0);
      }
    }

    .defaultPosition {
      transform: rotate(90deg);
    }

    .activeAccordion {
      transform: rotate(0);
    }
  }
}

@media #{$BREAKPOINT-MOBILE-LAND} {
  .headerContainer {
    height: 8.5vw;

    .eventControllerContainer {
      &,
      .openerLine {
        width: 5.5vw;
        height: 2vw;
      }
    }
  }
}

@media #{$BREAKPOINT-TABLET} {
  .headerContainer {
    height: 5.5vw;

    .eventControllerContainer {
      &,
      .openerLine {
        width: 4vw;
        height: 1.5vw;
      }
    }
  }
}

@media #{$BREAKPOINT-TABLET-LAND} {
  .headerContainer {
    height: 4vw;

    .eventControllerContainer {
      margin-right: 1vw;

      &,
      .openerLine {
        width: 1.9vw;
        height: 0.7vw;
      }
    }
  }
}

@media #{$BREAKPOINT-DESK} {
  .headerContainer {
    height: 3.2vw;
  }
}
