@import "./../../../styles/scss/index.scss";

.loginForm {
  padding: 4vw 0;
  @include displayFlex($direction: column, $align: center, $justify: center);
  fieldset {
    @include displayFlex($direction: column, $align: center, $justify: center);
    border: none;
  }
}

@media #{$BREAKPOINT-TABLET-LAND} {
  .loginForm {
    padding: 2.5vw 0;
  }
}
