@import "./../../styles/scss/index.scss";

.container {
  margin: 5px 10px;

  .headerContainer {
    margin: 10px 0;
    h2 {
      font-size: 1.1rem;
    }
  }

  .cardsContainer {
    width: calc(100vw - 20px);
  }
}

@media #{$BREAKPOINT-MOBILE-LAND} {
  .container {
    .headerContainer {
      h2 {
        font-size: 1.3rem;
      }
    }
  }
}

@media #{$BREAKPOINT-TABLET-LAND} {
  .container {
    margin: 5px 0;

    .headerContainer {
      margin: 15px 0;
      margin-left: 1.4%;
      h2 {
        font-size: 1.4rem;
      }
    }

    .cardsContainer {
      @include displayFlex($wrap: wrap, $justify: space-around);
      width: calc(100vw - 20px);
    }
  }
}

@media #{$BREAKPOINT-DESK} {
  .container {
    .headerContainer {
      margin-left: 0.7%;
      h2 {
        font-size: 1.9rem;
      }
    }

    .cardsContainer {
      @include displayFlex($wrap: wrap, $justify: space-around);
      width: 1000px;
    }
  }
}
