@import "./../../styles/scss/";

.container {
  width: 95%;
  border: 0.4px solid #d6d5d5;
  border-radius: 10px;

  margin-bottom: 10px;
  box-shadow: 0 0 2px #d6d5d5;

  background-color: $ORANGE;

  .logoContainer {
    @include displayFlex($justify: center);
    width: 100%;

    background-color: $WHITE;
    border-radius: 7px 7px 0 0;
    .jobLogo {
      width: 229px;
      height: 125.15px;

      filter: invert(51%) sepia(54%) saturate(2738%) hue-rotate(0deg)
        brightness(102%) contrast(103%);
    }
  }
  .mainDescription {
    @include displayFlex($align: center, $direction: column);
    .title {
      font-size: 1.3rem;
    }

    .title,
    p {
      font-weight: 400;
      color: $WHITE;
    }

    p {
      font-size: 0.7rem;
    }
  }
  .jobDetails {
    width: 95%;
    margin: 0 auto;
    .location {
      margin: 5px 0;
      .locationSpecific {
        @include displayFlex($justify: space-between, $align: center);
        .locationSpecificRegion {
          @include displayFlex();
        }

        .icon {
          width: 10px;
        }

        h4 {
          margin-left: 5px;
          font-size: 0.8rem;
        }
        p {
          font-size: 0.7rem;
          font-weight: 400;
          color: $WHITE;
        }
      }
    }
    .description {
      margin-bottom: 10px;
      h4 {
        font-size: 0.75rem;
        font-weight: 800;
      }
      p {
        font-size: 0.7rem;
        font-weight: 500;

        text-align: justify;
        line-height: 12px;
      }
    }
  }
}

@media #{$BREAKPOINT-MOBILE-LAND} {
  .container {
    width: 80%;
  }
}

@media #{$BREAKPOINT-TABLET} {
  .container {
    width: 65%;
  }
}

@media only screen and (min-width: 754px) {
  .container {
    width: 49%;
  }
}

@media #{$BREAKPOINT-TABLET-LAND} {
  .container {
    width: 48%;
    .logoContainer {
      .jobLogo {
        width: 342.78px;
        height: 188.97px;
      }
    }
    .mainDescription {
      .title {
        font-size: 2rem;
      }

      p {
        font-size: 1.2rem;
      }
    }

    .jobDetails {
      width: 90%;
      .location {
        .locationSpecific {
          .icon {
            width: 15px;
          }
          h4 {
            font-size: 1rem;
          }
          p {
            font-size: 0.8rem;
          }
        }
      }
      .description {
        h4 {
          font-size: 1.2rem;
        }
        p {
          font-size: 0.9rem;
          line-height: 15px;
        }
      }
    }
  }
}
