@import "./../../../../styles/scss/index.scss";

.comboMenu {
  position: absolute;
  top: 20vw;

  width: 100vw;

  pointer-events: none;
  opacity: 1;

  transform: translateX(-100%);
  transition: all 300ms ease-in-out;

  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #e7e7e7;

  background-color: $ORANGE;

  ul {
    list-style-type: none;

    li {
      margin: 4.5vw 0;
      text-align: center;
    }
  }
}

.comboMenuActive {
  transform: translateX(0);
  pointer-events: all;
  z-index: 10;
}

@media #{$BREAKPOINT-TABLET} {
  .comboMenu {
    top: 14.2vw;
  }
}

@media #{$BREAKPOINT-TABLET-LAND} {
  .comboMenu {
    position: relative;
    top: initial;
    transform: none;

    width: initial;
    background: none;
    border: none;
    ul {
      @include displayFlex($justify: space-between);
      li {
        margin: 0;
        margin-left: 1vw;
      }
    }
  }
}
