@import "./../../styles/scss/index.scss";

.container {
  @include defaultBoxShadow();
  background-color: $WHITE;
  width: calc(100vw - 20px);

  header {
    h1 {
      text-align: center;
    }
  }
  .contentContainer {
    @include displayFlex($justify: space-between);
    padding: 4px;

    .columnContent {
      @include displayFlex($direction: column, $align: center);
      header {
        h3,
        p {
          text-align: center;
        }
      }
    }
  }
}

@media #{$BREAKPOINT-TABLET} {
  .container {
    @include displayFlex($direction: column, $align: center);

    header {
      margin: 1vw 0;
      h1 {
        font-size: 5vw;
      }
    }
    .contentContainer {
      width: 90%;
    }
  }
}

@media #{$BREAKPOINT-TABLET-LAND} {
  .container {
    .contentContainer {
      width: 50%;
    }
  }
}

@media #{$BREAKPOINT-DESK} {
  .container {
    width: 1000px;

    header {
      margin: 1vw 0;
      h1 {
        font-size: 4vw;
      }
    }

    .contentContainer {
      width: 80%;

      .columnContent {
        header {
          h3 {
            font-size: 2vw;
          }

          p {
            font-size: 1.5vw;
          }
        }
      }
    }
  }
}
