.container {
  background-color: white;
  width: 95vw;
  height: 95vh;
  // overflow-y: hidden;
  border-radius: 10px;
  border: 1px solid rgba(160, 160, 160, 0.6);
}

// body {
//   overflow-y: hidden;
// }
