@import "./../../../../styles/scss/index.scss";

.content {
  position: absolute;
  top: 0;
  opacity: 0;

  pointer-events: none;
  transition: opacity ease-in 150ms;
}

.activeContent {
  opacity: 1;
  pointer-events: all;
}

.ratingSurveyContainer {
  @include displayFlex($justify: flex-end);
}

@media #{$BREAKPOINT-TABLET-LAND} {
  .content {
    width: 100%;
  }
}
