@import "./../../../../../styles/scss/index.scss";

.surveyContainer {
  @include displayFlex();
  margin-top: 5vw;
  margin-left: 5vw;

  .submitButton {
    @include displayFlex($align: center, $justify: center);

    border: none;
    border-radius: 3px;
    background-color: $ORANGE;
    box-shadow: 0 0 0.5px #262626;

    color: $PURPLE;
    font-weight: 800;
    font-family: "Poppins";
    font-size: 6vw;

    width: 22vw;
    height: 10vw;
    margin-right: 7vw;

    cursor: pointer;
    transition: all 200ms ease-in-out;

    &:hover {
      background-color: rgb(228, 113, 6);
    }
  }
}

@media #{$BREAKPOINT-MOBILE-LAND} {
  .surveyContainer {
    .submitButton {
      width: 19vw;
      height: 9vw;

      font-size: 5vw;
    }
  }
}

@media #{$BREAKPOINT-TABLET} {
  .surveyContainer {
    .submitButton {
      width: 16vw;
      height: 6.5vw;

      font-size: 4vw;
    }
  }
}

@media #{$BREAKPOINT-TABLET-LAND} {
  .surveyContainer {
    margin-left: 4.8vw;
    margin-top: 0;

    .submitButton {
      width: 8vw;
      height: 3.8vw;
      margin-right: 3vw;

      font-size: 2.2vw;
    }
  }
}

@media #{$BREAKPOINT-DESK} {
  .surveyContainer {
    .submitButton {
      width: 7vw;
      height: 3vw;
      font-size: 1.5vw;
    }
  }
}
