@import "./../../../../../styles/scss/index.scss";

.surveyContainer {
  @include displayFlex();
  margin-top: 5vw;
  margin-left: 5vw;
}

@media #{$BREAKPOINT-TABLET-LAND} {
  .surveyContainer {
    width: 100%;
    justify-content: flex-end;
    margin: 0;
  }
}
