@import "./../../styles/scss/index.scss";
.container {
  .headerContainer {
    margin: 20px auto;
    h2 {
      font-size: 0.8rem;
    }
  }
  .cardsContainer {
    width: 75%;
    margin: auto;
    @include displayFlex($justify: center, $wrap: wrap);
  }
}

@media #{$BREAKPOINT-TABLET} {
  .container {
    .cardsContainer {
      width: 70%;
    }
  }
}

@media only screen and (min-width: 754px) {
  .container {
    .headerContainer {
      width: 70%;
      margin: 20px auto;
      h2 {
        font-size: 1rem;
      }
    }
    .headerContainer,
    .cardsContainer {
      width: 70%;
    }
    .cardsContainer {
      justify-content: space-between;
    }
  }
}

@media #{$BREAKPOINT-DESK} {
  .container {
    .headerContainer {
      margin: 20px auto;
      h2 {
        font-size: 1.2rem;
      }
    }
    .headerContainer,
    .cardsContainer {
      width: 75%;
    }
  }
}
