@import "./../../../../../styles/scss/index.scss";

.title {
  margin: 0 0 5px 5px;
  font-size: 0.8rem;
  color: $PURPLE;
  span {
    font-weight: 900;
  }
}

@media #{$BREAKPOINT-MOBILE-LAND} {
  .title {
    font-size: 1rem;
    margin-left: 10px;
  }
}

@media only screen and (min-width: 754px) {
  .title {
    font-size: 1.2rem;
  }
}

@media #{$BREAKPOINT-TABLET-LAND} {
  .title {
    font-size: 1.4rem;
  }
}
