.fade-appear {
  opacity: 0.01;
  .fade-appear-active {
    opacity: 1;
    transition: opacity 200ms ease-in-out;
  }
}

// Component mount animation
.fade-enter {
  opacity: 0.1;
  transform: scale(0.1);
}

.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 500ms;
}

// Component unmout animation
.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 100ms, transform 100ms;
}
