@import "./../../../../../styles/scss/";

.evaluationContainer {
  @include displayFlex($justify: center, $direction: column, $align: center);
}

.evaluationContainer,
.notEnoughEvaluationsContainer {
  color: $WHITE;
}

.notEnoughEvaluationsContainer {
  margin: 10px 4px;
  p {
    font-size: 1rem;
    text-align: center;
  }
}
