@import "./../../styles/scss/index.scss";
header {
  .container {
    @include displayFlex($justify: space-around, $align: center);
    position: relative;
    margin-bottom: 2vw;
    z-index: 10;

    background-color: $ORANGE;
    box-shadow: 0 0 1.5px black;

    .leftSideContainer {
      @include displayFlex($align: center);
      .companyLogo {
        margin: 3vw 0;
        a {
          @include displayFlex($justify: center, $direction: column);
          text-decoration: none;
          color: $BLACK;

          img {
            width: 10vw;
          }

          h4 {
            font-weight: 500;
            font-size: 3vw;
            text-align: center;
          }
        }
      }
      .searchAd {
        @include displayFlex($align: center, $justify: center);
        margin-left: 8vw;

        input {
          width: 50vw;
          height: 8vw;

          background-color: $WHITE;
          padding-left: 2vw;

          border-width: 1px 0px 1px 1px;
          border-style: solid;
          border-radius: 10px 0 0 10px;

          font-size: 3.5vw;
        }

        .searchIconContainer {
          height: 8vw;
          cursor: pointer;

          border-width: 1px 1px 1px 0;
          border-style: solid;
          border-radius: 0px 10px 10px 0px;

          background-color: $WHITE;

          img {
            @include displayFlex($align: center, $justify: center);
            width: 6vw;
            margin-right: 1vw;
          }
        }
      }
    }
  }
}

@media #{$BREAKPOINT-MOBILE-LAND} {
  header {
    .container {
      .leftSideContainer {
        .searchAd {
          input {
            width: 50vw;
            font-size: 2.5vw;
          }
        }
      }
    }
  }
}

@media #{$BREAKPOINT-TABLET} {
  header {
    .container {
      .leftSideContainer {
        .companyLogo {
          margin: 1.5vw 0;
          a {
            img {
              width: 8vw;
            }
            h4 {
              font-size: 2.2vw;
            }
          }
        }

        .searchAd {
          input {
            height: 7vw;
            font-size: 2.5vw;
          }
          .searchIconContainer {
            height: 7vw;
          }
        }
      }
    }
  }
}

@media #{$BREAKPOINT-TABLET-LAND} {
  header {
    .container {
      justify-content: space-around;
      .leftSideContainer {
        .companyLogo {
          margin: 0.5vw 0;
          a {
            img {
              width: 3vw;
            }
            h4 {
              font-size: 0.8vw;
            }
          }
        }
        .searchAd {
          margin-left: 2vw;
          input {
            width: 20vw;
            font-size: 1.25vw;
          }

          input,
          .searchIconContainer {
            height: 2.4vw;
          }

          .searchIconContainer {
            img {
              width: 1.5vw;
            }
          }
        }
      }
    }
  }
}
