@import "./../../../../../../styles/scss/index.scss";

.extendedLoggedInMenu {
  position: absolute;
  top: 15px;

  margin: 5vw 0;
  width: 100vw;

  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: $WHITE;
  background-color: $ORANGE;

  transition: all 100ms ease-in-out;
  pointer-events: none;
  transform: translateY(-20%);
  opacity: 0;
}

.extendedLoggedInMenuActive {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}

@media #{$BREAKPOINT-TABLET-LAND} {
  .extendedLoggedInMenu {
    position: absolute;
    top: 3.7vw;
    right: 0vw;

    padding: 10px 0;
    width: 30vw;
    margin: 0;
    pointer-events: none;

    border: 1px solid rgba(54, 51, 51, 0.1);
    box-shadow: 0 0 2px #262626;

    ul {
      @include displayFlex($direction: column);
      li {
        margin: 0.5vw 0;
        a {
          pointer-events: none;
        }
      }
    }
  }

  .extendedLoggedInMenuActive {
    ul {
      li {
        a {
          pointer-events: all;
        }
      }
    }
  }
}
