@import "./../../../../styles/scss/index.scss";

.headerContainer {
  @include displayFlex($justify: space-between, $align: center);
  @include defaultBoxShadow($thickness: 2px, $color: #262626);
  background-color: $ORANGE;
  padding: 10px 0;

  .r1 {
    transform: rotate(45deg);
  }
  .r2 {
    transform: rotate(-45deg);
  }

  .rectangle {
    @include defaultBoxShadow($color: $BLACK, $thickness: 1px);
    position: absolute;

    width: 30px;
    height: 4px;

    background-color: $WHITE;
    border-radius: 1px;
  }
}
