@import "./../../../../styles/scss/index.scss";

.container {
  padding: 16px;

  .contactInfoContainer {
    margin: 20px 0;

    h2 {
      font-size: 1.5rem;
    }
    &,
    .contact {
      @include displayFlex(
        $justify: space-between,
        $direction: column,
        $align: center
      );
    }

    .contact {
      margin: 10px 0;
      p {
        font-size: 1.2rem;
      }
    }
  }
}

@media #{$BREAKPOINT-TABLET} {
  .container {
    .btnContainer {
      button {
        left: 95%;
      }
    }
  }
}

@media #{$BREAKPOINT-TABLET-LAND} {
  .container {
    .btnContainer {
      button {
        left: 93%;
      }
    }

    .contactInfoContainer {
      margin-left: 2vw;
      &,
      .contact {
        align-items: flex-start;
      }
      .contact {
        flex-direction: row;
        align-items: center;
      }
    }
  }
}
