@import "./../../styles/scss/index.scss";

footer {
  margin-top: 4vw;
  box-shadow: 0 0 1.5px black;
}

.container {
  @include displayFlex($justify: space-around, $direction: column);
  background-color: $ORANGE;

  padding: 6.3vw 5.5vw 5vw;

  h4 {
    font-size: 4.505vw;
  }

  .verticalDivisor {
    border: 1px solid rgba(38, 38, 38, 0.3);
  }

  .companyInfoContainer {
    .socialMediaContainer {
      .iconsContainer {
        @include displayFlex($justify: space-between);
        margin-top: 18px;

        .iconContainer {
          a {
            display: inline-block;

            img {
              width: 19vw;

              transition: transform 200ms ease-in-out;
              cursor: pointer;

              &:hover {
                filter: saturate(140%);
                transform: scale(1.13);
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}

.copyRightContainer {
  @include displayFlex($justify: center, $align: center);
  background-color: #d1690a;
  height: 9vw;

  p {
    font-size: 3.5vw;
    font-weight: 500;
  }
}

@media #{$BREAKPOINT-MOBILE-LAND} {
  .container {
    h4 {
      font-size: 3.5vw;
    }

    .companyInfoContainer {
      .socialMediaContainer {
        .iconsContainer {
          margin-top: 0.5vw;
          .iconContainer {
            margin: 0 1.3vw;

            a {
              img {
                width: 13vw;
              }
            }
          }
        }
      }
    }
  }

  .copyRightContainer {
    height: 7vw;

    p {
      font-size: 3vw;
      font-weight: 500;
    }
  }
}

@media #{$BREAKPOINT-TABLET} {
  .container {
    h4 {
      font-size: 2.5vw;
    }

    .verticalDivisor {
      margin: 0 1vw;
    }

    .companyInfoContainer {
      margin-left: 2vw;

      .socialMediaContainer {
        .iconsContainer {
          justify-content: flex-start;
          margin-top: 0.5vw;

          .iconContainer {
            margin: 0 1.3vw;

            a {
              img {
                width: 10vw;
              }
            }
          }
        }
      }
    }
  }

  .copyRightContainer {
    height: 3vw;

    p {
      font-size: 1.25vw;
      font-weight: 500;
    }
  }
}

@media only screen and (min-width: 754px) {
  .container {
    h4 {
      font-size: 2vw;
    }

    .verticalDivisor {
      margin: 0 1vw;
    }

    .companyInfoContainer {
      margin-left: 2vw;

      .socialMediaContainer {
        .iconsContainer {
          justify-content: flex-start;
          margin-top: 0.5vw;

          .iconContainer {
            margin: 0 1.3vw;

            a {
              img {
                width: 8vw;
              }
            }
          }
        }
      }
    }
  }

  .copyRightContainer {
    height: 3vw;

    p {
      font-size: 1.25vw;
      font-weight: 500;
    }
  }
}

@media #{$BREAKPOINT-TABLET-LAND} {
  .container {
    flex-direction: row;

    h4 {
      font-size: 1.505vw;
    }

    .verticalDivisor {
      margin: 0 1vw;
    }

    .companyInfoContainer {
      width: 40%;
      margin-left: 2vw;

      .socialMediaContainer {
        .iconsContainer {
          justify-content: flex-start;
          margin-top: 0.5vw;

          .iconContainer {
            margin: 0 0.7vw;

            a {
              img {
                width: 6vw;
              }
            }
          }
        }
      }
    }
  }

  .copyRightContainer {
    height: 3vw;

    p {
      font-size: 1.25vw;
      font-weight: 500;
    }
  }
}
