@import "./../../../../../styles/scss/index.scss";

.extensibleDropDown {
  position: relative;

  .userLoggedInWrapper {
    @include displayFlex($align: center);
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
  }
}
