@import "./../../../styles/scss/index.scss";
.container {
  height: 260px;
  min-width: 33%;

  background-color: $WHITE;
  box-shadow: 0 0 0.5px rgb(175, 174, 174);
  border: 0.5px solid $SECONDARY_ORANGE;
  border-radius: 5px;

  .filtersContainer {
    @include displayFlex($direction: column, $justify: space-around);
    height: calc(100% - 30px);
  }
}

@media #{$BREAKPOINT-MOBILE-LAND} {
  .container {
    height: 300px;
    margin-right: 2%;

    .filtersContainer {
      height: calc(100% - 40px);
    }
  }
}

@media #{$BREAKPOINT-TABLET} {
  .container {
    min-width: 30%;
  }
}

@media only screen and (min-width: 754px) {
  .container {
    height: 350px;
    min-width: 28%;
  }
}

@media #{$BREAKPOINT-TABLET-LAND} {
  .container {
    height: 450px;
    min-width: 28%;

    .filtersContainer {
      height: calc(450px - 60px);
    }
  }
}
