@import "./../../../styles/scss/index.scss";
.container {
  height: 260px;
  min-width: 33%;

  background-color: $WHITE;
  box-shadow: 0 0 0.5px rgb(175, 174, 174);
  border: 0.5px solid $SECONDARY_ORANGE;
  border-radius: 5px;

  .header {
    @include displayFlex($align: center, $justify: center);
    height: 30px;

    background-color: $SECONDARY_ORANGE;
    border-radius: 5px 5px 0px 0px;

    h3 {
      font-size: 1rem;
      color: $PURPLE;
    }
  }

  .filtersContainer {
    @include displayFlex($direction: column, $justify: space-around);
    height: calc(100% - 30px);
  }
}

@media #{$BREAKPOINT-MOBILE-LAND} {
  .container {
    height: 300px;
    margin-right: 2%;
    .header {
      height: 40px;
      h3 {
        font-size: 1.2rem;
        letter-spacing: 1.5px;
      }
    }
    .filtersContainer {
      height: calc(100% - 40px);
    }
  }
}

@media #{$BREAKPOINT-TABLET} {
  .container {
    min-width: 30%;
  }
}

@media only screen and (min-width: 754px) {
  .container {
    height: 350px;
    min-width: 28%;
  }
}

@media #{$BREAKPOINT-TABLET-LAND} {
  .container {
    height: 450px;
    min-width: 28%;
    .header {
      height: 60px;
      h3 {
        font-size: 1.6rem;
        letter-spacing: 3px;
      }
    }
    .filtersContainer {
      height: calc(450px - 60px);
    }
  }
}
