@import "./../../styles/scss/index.scss";

.input-container-login {
  @include displayFlex($direction: column, $align: flex-start);
  width: 90%;
  border-radius: 5px;
  margin-top: 3vw;

  label {
    font-size: 3vw;
    p {
      font-size: 6vw;
    }
    margin: 2vw 0;
  }
}

@media #{$BREAKPOINT-TABLET} {
  .input-container-login {
    width: 88%;

    label {
      p {
        font-size: 5vw;
      }
      margin: 1vw 0;
    }
  }
}

@media #{$BREAKPOINT-TABLET-LAND} {
  .input-container-login {
    margin: 0.5vw 0;

    width: 85%;

    label {
      margin: 0;
      p {
        font-size: 1.75vw;
      }
    }
  }
}
