@import "./../../../../styles/scss/index.scss";

.socialMediaContainer {
  .iconsContainer {
    @include displayFlex($justify: space-between);
    margin-top: 18px;
  }
}

@media #{$BREAKPOINT-MOBILE-LAND} {
  .socialMediaContainer {
    .iconsContainer {
      margin-top: 0.5vw;
    }
  }
}

@media #{$BREAKPOINT-TABLET} {
  .socialMediaContainer {
    .iconsContainer {
      justify-content: flex-start;
      margin-top: 0.5vw;
    }
  }
}

@media only screen and (min-width: 754px) {
  .socialMediaContainer {
    .iconsContainer {
      justify-content: flex-start;
      margin-top: 0.5vw;
    }
  }
}

@media #{$BREAKPOINT-TABLET-LAND} {
  .socialMediaContainer {
    .iconsContainer {
      justify-content: flex-start;
      margin-top: 0.5vw;
    }
  }
}
