@import "./../../../styles/scss/index.scss";

.container {
  @include defaultBoxShadow($thickness: 4px);
  background-color: $WHITE;
  border-radius: 5px;
  width: calc(100vw - 20px);

  .responseContainer {
    @include displayFlex($justify: center, $direction: column, $align: center);
    margin: 20px 0;

    .infoContainer {
      @include displayFlex(
        $justify: center,
        $direction: column,
        $align: center
      );

      img {
        width: 36vw;
      }

      p {
        margin-top: 10px;

        font-size: 1rem;
        font-weight: 500;
        text-align: center;
      }
    }

    .btnContainer {
      margin: 10px 0;

      .keepSearchingBtn {
        @include defaultButton();
        width: 250px;
        height: 43px;

        font-weight: bold;
        cursor: pointer;
        margin-bottom: 10px;

        &:hover {
          background-color: #dd7412;
        }
      }
    }
  }

  .contentContainer {
    padding: 16px;

    .introContent {
      margin: 15px 0;

      p {
        font-size: 1.2rem;
      }
    }

    .formContainer {
      @include displayFlex(
        $direction: column,
        $justify: space-between,
        $align: center
      );

      textarea {
        height: 37vw;
        width: 100%;
        resize: none;
        font-size: 1.1rem;
      }

      button {
        @include defaultButton($radius: 4px);
        width: 154px;
        height: 42px;

        margin-top: 30px;
        cursor: pointer;

        font-weight: bolder;
        font-size: 1rem;

        transition: all 200ms ease-in-out;

        &:hover {
          background-color: #dd7412;
        }
      }
    }

    .contactInfoContainer {
      margin: 20px 0;

      h2 {
        font-size: 1.5rem;
      }
      &,
      .contact {
        @include displayFlex(
          $justify: space-between,
          $direction: column,
          $align: center
        );
      }

      .contact {
        margin: 10px 0;
        p {
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media #{$BREAKPOINT-MOBILE-LAND} {
  .container {
    .contentContainer {
      .formContainer {
        textarea {
          height: 29vw;
        }

        .messageSendingContainer {
          @include displayFlex(
            $justify: flex-end,
            $direction: column,
            $align: flex-end
          );
          width: 100%;

          .loadingSpinnerContainer {
            @include displayFlex($justify: flex-end);

            width: 100%;

            margin: 5px 0;
            margin-right: 6%;
          }
        }
      }
    }
  }
}

@media #{$BREAKPOINT-TABLET} {
  .container {
    .responseContainer {
      .infoContainer {
        p {
          font-size: 1.8rem;
        }
      }
    }

    .contentContainer {
      .btnContainer {
        button {
          left: 95%;
        }
      }
      .formContainer {
        textarea {
          height: 22vw;
        }
      }
    }
  }
}

@media #{$BREAKPOINT-TABLET-LAND} {
  .container {
    width: 60vw;

    .responseContainer {
      .infoContainer {
        img {
          width: 20vw;
        }
        p {
          font-size: 2rem;
        }
      }
    }

    .contentContainer {
      .btnContainer {
        button {
          left: 93%;
        }
      }

      .introContent {
        margin: 15px 0;
        p {
          font-size: 1.25rem;
        }
      }

      .formContainer {
        textarea {
          height: 15vw;
        }

        button {
          align-self: flex-end;
          margin-top: 20px;
          margin-right: 0px;
        }
      }

      .contactInfoContainer {
        margin-left: 2vw;
        &,
        .contact {
          align-items: flex-start;
        }
        .contact {
          flex-direction: row;
          align-items: center;
        }
      }
    }
  }
}

@media #{$BREAKPOINT-DESK} {
  .container {
    width: 750px;
    min-height: auto;

    .contentContainer {
      .formContainer {
        textarea {
          height: 200px;
        }
      }
    }
  }
}
