@import "./../../../styles/scss/index.scss";

.container {
  @include defaultBoxShadow($thickness: 4px);
  background-color: $WHITE;
  border-radius: 5px;
  width: calc(100vw - 20px);
}

@media #{$BREAKPOINT-TABLET-LAND} {
  .container {
    width: 60vw;
  }
}

@media #{$BREAKPOINT-DESK} {
  .container {
    width: 750px;
    min-height: auto;
  }
}
