@import "./../../../styles/scss/index.scss";

.container {
  @include displayFlex($justify: space-between);

  height: 15vw;
  width: 100%;

  .inputField {
    width: 90vw;
  }

  .logoContainer {
    @include displayFlex($justify: center);

    width: 20%;
    background-color: $PURPLE;

    .logo {
      width: 70%;
    }
  }
}

@media #{$BREAKPOINT-TABLET} {
  .container {
    @include displayFlex($justify: center);
    height: 10vw;

    .inputField {
      width: 80vw;
    }

    .logoContainer {
      .logo {
        width: 50%;
      }
    }
  }
}

@media #{$BREAKPOINT-TABLET-LAND} {
  .container {
    margin: 0.5vw 0;
    width: 100%;

    height: 4.5vw;

    .inputField {
      width: 80%;
      font-size: 1.3vw;
    }

    .logoContainer {
      .logo {
        width: 40%;
      }
    }
  }
}
