/*|---------------|MIXINS|---------------*/

@mixin margin-page {
  margin: 0 auto;

  @media #{$BREAKPOINT-DESK} {
    max-width: 1000px;
  }
}

@mixin displayFlex(
  $direction: null,
  $justify: null,
  $align: null,
  $wrap: null
) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

@mixin mainSelectPattern(
  $iconUrl: url(../../resources/imgs/utilityIcons/drop-down.png)
) {
  border: none;
  appearance: none;
  border-radius: 2px;
  background: $iconUrl 96% / 10px no-repeat #eee;
}

@mixin defaultButton(
  $bg-color: $ORANGE,
  $color: $WHITE,
  $radius: 10px,
  $border: none
) {
  background-color: $bg-color;
  border: $border;
  border-radius: $radius;
  color: $color;
}
