/*|---------------|MIXINS|---------------*/

@mixin margin-page {
  width: calc(100% - 20px);
  margin: 0 auto;

  @media #{$BREAKPOINT-DESK} {
    max-width: 1000px;
  }
}

@mixin displayFlex(
  $display: flex,
  $direction: row,
  $justify: flex-start,
<<<<<<< HEAD
  $align: stretch,
  $wrap: nowrap
=======
  $align: stretch
>>>>>>> 291433b146fb23b2f7c47e17006702d27a6ed219
) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
<<<<<<< HEAD
  flex-wrap: $wrap;
}

@mixin mainSelectPattern(
  $iconUrl: url(../../resources/imgs/utilityIcons/drop-down.png)
) {
  border: none;
  appearance: none;
  border-radius: 2px;
  background: $iconUrl 96% / 10px no-repeat #eee;
=======
>>>>>>> 291433b146fb23b2f7c47e17006702d27a6ed219
}
