/*|---------------|MIXINS|---------------*/

@mixin margin-page {
  width: calc(100% - 20px);
  margin: 0 auto;

  @media #{$BREAKPOINT-DESK} {
    max-width: 1000px;
  }
}

@mixin displayFlex(
  $display: flex,
  $direction: row,
  $justify: flex-start,
  $align: stretch
) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin mainSelectPattern(
  $iconUrl: url(../../resources/imgs/utilityIcons/drop-down.png)
) {
  border: none;
  appearance: none;
  border-radius: 2px;
  background: $iconUrl 96% / 10px no-repeat #eee;
}
