/*|---------------| App Color Schema|---------------*/

/* Just color examples to show how we can define
  the color scheme of our app */

$BLUE: #00376c;
$PINK: #b51942;
$GRAY: #707070;

/* Main colors pallette */
$ORANGE: #ff7a00;
$BLACK: #262626;
$WHITE: #fff;
$PURPLE: #5b074d;

/* Secondary Colors */
$SECONDARY_ORANGE: rgba(255, 122, 0, 0.75);
/*|---------------| BREAKPOINTS|---------------*/

// Usage example:  @media #{$BREAKPOINT-DESK}

$BREAKPOINT-DESK: "only screen and (min-width: 1280px)";
$BREAKPOINT-TABLET-LAND: "only screen and (min-width: 975px)";
$BREAKPOINT-TABLET: "only screen and (min-width: 600px)";
$BREAKPOINT-MOBILE-LAND: "only screen and (min-width: 480px)";
