/*|---------------| App Color Schema|---------------*/

/* Main colors pallette */
$ORANGE: #ff7a00;
$BLACK: #262626;
$WHITE: #fff;
$PURPLE: #5b074d;

/* Secondary Colors */
$SECONDARY_ORANGE: rgba(255, 122, 0, 0.5);
$TERCIARY_ORANGE: rgba(255, 122, 0, 0.15);
$SECONDARY_PURPLE: rgba(91, 7, 77, 0.5);
$TERCIARY_PURPLE: rgba(91, 7, 77, 0.15);
$BACKGROUND_BODY: #f0f0f7;
$BACKGROUND_INPUT: #f8f8fc;
/*|---------------| BREAKPOINTS|---------------*/

// Usage example:  @media #{$BREAKPOINT-DESK}

$BREAKPOINT-DESK: "only screen and (min-width: 1280px)";
$BREAKPOINT-TABLET-LAND: "only screen and (min-width: 975px)";
$BREAKPOINT-TABLET: "only screen and (min-width: 600px)";
$BREAKPOINT-MOBILE-LAND: "only screen and (min-width: 480px)";
$BREAKPOINT-MOBILE: "only screen and (min-width: 360px)";
