@import "./../../../../styles/scss/index.scss";

.contactContainer {
  margin-bottom: 33px;
}

@media #{$BREAKPOINT-MOBILE-LAND} {
  .contactContainer {
    margin-bottom: 2vw;
  }
}

@media #{$BREAKPOINT-TABLET} {
  .contactContainer {
    margin-bottom: 2vw;
  }
}
