@import "./../../styles/scss/index.scss";

$SELECTING-WOMAN-URL: url(./../../resources/imgs/styleSvgs/selecting_woman.svg);
$SINGLE-HIREABLE-WORKER: url(./../../resources/imgs/styleSvgs/single_hireable_worker.svg);
$HIREABLE-WORKERS: url(./../../resources/imgs/styleSvgs/hireable_workers.svg);
$SINGLE-BG-FILLER: url(./../../resources/imgs/styleSvgs/background_filler.svg);
$SINGLE-BG-FILLER-BRIGHTER: url(./../../resources/imgs/styleSvgs/background_filler_brighter.svg);

.container {
  margin: 30px 0;
  height: 65.4vw;

  background-image: $SELECTING-WOMAN-URL, $SINGLE-HIREABLE-WORKER,
    $SINGLE-BG-FILLER;
  background-repeat: no-repeat;
  background-position: right bottom, 50% 85%, top left;
  background-size: 82%, 62%, 82%;

  .titleContainer {
    position: relative;
    top: 8%;
    left: 4%;
    h2 {
      font-weight: 600;
      font-size: 1.1rem;
    }
  }
}

@media #{$BREAKPOINT-MOBILE-LAND} {
  .container {
    height: 60vw;
    background-size: 75%, 54%, 88%;

    .titleContainer {
      top: 12%;
      left: 4%;
      h2 {
        font-size: 1.4rem;
      }
    }
  }
}

@media #{$BREAKPOINT-TABLET} {
  .container {
    height: 65vw;

    .titleContainer {
      h2 {
        font-size: 1.8rem;
      }
    }
  }
}

@media #{$BREAKPOINT-TABLET-LAND} {
  .container {
    height: 34vw;

    background-image: $SELECTING-WOMAN-URL, $HIREABLE-WORKERS,
      $SINGLE-BG-FILLER-BRIGHTER;
    background-size: 41%, 38%, 53%;
    background-position: 98% bottom, 84% 25%, 1% 50%;

    .titleContainer {
      top: 45%;
      left: 4%;
      h2 {
        font-size: 1.4rem;
      }
    }
  }
}

@media #{$BREAKPOINT-DESK} {
  .container {
    height: 400px;

    background-size: 48%, 45%, 48%;
    background-position: 98% bottom, 78% 2%, 1% 75%;
    .titleContainer {
      top: 55%;
      left: 3%;
      h2 {
        font-size: 1.3rem;
      }
    }
  }
}
